#color-palette-layout {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
  border-radius: 0.5rem;
  padding: 0.5rem;
}

.flex-layout {
  display: flex;
  flex-wrap: wrap;
}

.split-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.split-child {
  flex-grow: 1;
}
